@layer tokens {
    :where(:root, :host) {
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 32px;
  --spacing-6: 64px;
  --fonts-body: Inter, sans-serif;
  --colors-primary1: #fffcfd;
  --colors-primary2: #fef7f9;
  --colors-primary3: #ffe9f0;
  --colors-primary4: #fedce7;
  --colors-primary5: #facedd;
  --colors-primary6: #f3bed1;
  --colors-primary7: #eaacc3;
  --colors-primary8: #e093b2;
  --colors-primary9: #e93d82;
  --colors-primary10: #df3478;
  --colors-primary11: #cb1d63;
  --colors-primary12: #621639;
  --colors-gray1: #fcfcfd;
  --colors-gray2: #f9f9fb;
  --colors-gray3: #f0f0f3;
  --colors-gray4: #e8e8ec;
  --colors-gray5: #e0e1e6;
  --colors-gray6: #d9d9e0;
  --colors-gray7: #cdced6;
  --colors-gray8: #b9bbc6;
  --colors-gray9: #8b8d98;
  --colors-gray10: #80838d;
  --colors-gray11: #60646c;
  --colors-gray12: #1c2024;
  --colors-black-a10: rgba(0, 0, 0, 0.8);
  --colors-blue12: #113264;
  --colors-red2: #fff7f7;
  --colors-red5: #ffcdce;
  --colors-red6: #fdbdbe;
  --colors-red10: #dc3e42;
  --colors-red11: #ce2c31;
  --colors-green10: #2b9a66;
  --colors-green11: #218358;
  --colors-yellow9: #ffe629;
  --colors-yellow10: #ffdc00;
  --colors-yellow11: #9e6c00;
  --colors-yellow12: #473b1f;
  --breakpoints-2xl: 1536px;
  --breakpoints-sm: 600px;
  --breakpoints-md: 900px;
  --breakpoints-lg: 1200px;
  --breakpoints-xl: 1400px;
  --breakpoints-bp300: 300px;
  --breakpoints-bp400: 400px;
  --breakpoints-bp500: 500px;
  --breakpoints-bp600: 600px;
  --breakpoints-bp700: 700px;
  --breakpoints-bp800: 800px;
  --breakpoints-bp900: 900px;
  --breakpoints-bp1000: 1000px;
  --breakpoints-bp1100: 1100px;
  --breakpoints-bp1200: 1200px;
  --breakpoints-bp1300: 1300px;
  --breakpoints-bp1400: 1400px;
  --breakpoints-bp1500: 1500px;
  --sizes-breakpoint-2xl: 1536px;
  --sizes-breakpoint-sm: 600px;
  --sizes-breakpoint-md: 900px;
  --sizes-breakpoint-lg: 1200px;
  --sizes-breakpoint-xl: 1400px;
  --sizes-breakpoint-bp300: 300px;
  --sizes-breakpoint-bp400: 400px;
  --sizes-breakpoint-bp500: 500px;
  --sizes-breakpoint-bp600: 600px;
  --sizes-breakpoint-bp700: 700px;
  --sizes-breakpoint-bp800: 800px;
  --sizes-breakpoint-bp900: 900px;
  --sizes-breakpoint-bp1000: 1000px;
  --sizes-breakpoint-bp1100: 1100px;
  --sizes-breakpoint-bp1200: 1200px;
  --sizes-breakpoint-bp1300: 1300px;
  --sizes-breakpoint-bp1400: 1400px;
  --sizes-breakpoint-bp1500: 1500px;
  --colors-neutral-bg: #fcfcfd;
  --colors-neutral-text: #1c2024;
  --colors-success: #218358
}
  }
  